<div class="pt-5">
  <% if user_signed_in? %>
    <div class="text-2xl"> Welcome <%= current_user.email %>! </div>
    <div class="flex space-x-4 mt-4">
      <div class="w-3/4 text-center my-5">
        <%= link_to 'Create new post', new_post_path, class: 'btn btn-primary' %>
      </div>
      <div class="w-1/4 mt-4">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
      </div>
      <div class="w-1/4 mt-4">
        <%= link_to "Update account info", edit_user_registration_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  <% else %>
    <div class="text-2xl text-center">You're not logged in, please log into your account or sign in.</div>
    <div class="my-5 text-center">
      <%= button_to "Sign in", new_user_session_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
